# Created by venv; see https://docs.python.org/3/library/venv.html
# Ignore CMake build files
*
# Keep source and project files
!CMakeLists.txt
!src/
!src/schwarzschildGeodesic.h
!src/schwarzschildGeodesic.cpp
!src/vec3.h
!src/deflectionTable.h
!src/deflectionTable.cpp
!src/deflectionBuilder.h
!src/deflectionBuilder.cpp
!paper.tex
